[2016-06-17 10:30] Tazer opened #1 "Update to RC2?"
Will there be an update to RC2 ? :) Cause I havn't seen any working service discovery for asp.net core RC2 yet.

[2016-06-17 10:36] #1 closed

[2016-06-17 16:08] dtillman commented on #1
@Tazer There are RC2 bits on the dev branch... I'll be merging those bits into master in the near future....

You can look at the Fortune Teller sample in the dev branch to see how to use it standalone ... i.e. on your desktop .... or as an app pushed to CloudFoundry.

https://github.com/SteelToeOSS/Samples/tree/dev/Discovery

Dave

[2016-06-17 16:13] Tazer commented on #1
Noticed it :) that's way I closed the item.

Thanks for an reply anyway

On Fri, 17 Jun 2016, 18:08 Dave Tillman, <notifications@github.com> wrote:

[2016-06-20 14:57] mavenraven commented on #1
Hey @Tazer! I love that you're interested in our project. I was curious how you found out about it, and what's the driving factor in your interest. Thanks for any info!

[2016-07-28 11:53] vjmuvva opened #3 "Why ip address and hostname settings are not considered"
I am trying to change the hostname and the ip adress that discovery client uses to register by setting it in the config json -
"eureka": {
    "client": {
      "serviceUrl": "http://52.77.123.70:8761/eureka/",
      "shouldFetchRegistry": false
    },
    "instance": {
      "hostname": "localhost",
      "ipAddress": "127.0.0.1"
          "preferIpAddress"=true,
          "port": 5001
    }
  }

[2016-08-11 20:56] dtillman commented on #3
@vjmuvva
Hi Vijay, yes we will add support for preferIpAddress and the other relevant settings in the future.
Dave

[2016-08-12 16:00] mavenraven commented on #3
@vjmuvva you can track that progress via https://www.pivotaltracker.com/story/show/127261887

[2016-12-01 11:07] dosama opened #4 "Consul Support"
Kindly i want to ask when will you support consul service registry ?

[2016-12-02 00:11] spencergibb commented on #4
I am not a dev on this project, but this project is creating clients that don't exist for servers in C#. Looks like there are two clients listed here https://www.consul.io/downloads_tools.html

[2017-01-09 20:25] safari137 opened #5 "DiscoveryManager.Instance.Initialize(clientConfig) NullReferenceException"
I have the following code as I followed the readme on https://github.com/SteeltoeOSS/Discovery/tree/master/src/Steeltoe.Discovery.Eureka.Client

[code]

When I run the code I get the following exception:

{"Object reference not set to an instance of an object."}

Here is the StackTrace:
   at Steeltoe.Discovery.Eureka.DiscoveryClient..ctor(IEurekaClientConfig clientConfig, IEurekaHttpClient httpCl

[2017-01-20 10:47] ransikafs opened #6 "AWS support"
Hi all, appreciate what you all have done. We have a requirement to use the micro services on AWS, so curious to know whether you all have a time plan to implement AWS support.

Thanks again.

[2017-02-03 17:54] dtillman commented on #5
Sorry for late reply, thanks for reporting issue.
The problem you found is that the default setting for EurekaClientConfig.ShouldRegisterWithEureka is true.
Since you didn't change that, the client tried to register but didn't have any InstanceInfo to register with and it hit the Null Pointer problem.  I added an additional check to fix this and I will update the documentation as well.
Thanks
Dave

[2017-02-03 17:54] #5 closed

[2017-02-17 11:55] VenkateshSrinivasan opened #7 "provide Client ID and client secret in steel Toe"
Hi,

I'm using Eureka in Private PCF. The following is my eureka configuration in appSettings.json.
"eureka": {
    "client": {
      "validate_certificates": false,
      "serviceUrl": "https://eureka-82f81597-d68d-462a-89ce-3d68c58b9f29.xxx.com/eureka",
      "shouldFetchRegistry": false
    },
    "instance": {
      "hostName": "eurekaSP.xxx.com",
      "port": 80
    }
  }
How do I provide th

[2017-03-07 09:21] aivans opened #8 "DNS configuration to get list of Eureka Servers"
Configuration of Eureka Servers through DNS is crucial for having a HA setup.
[https://github.com/Netflix/eureka/wiki/Deploying-Eureka-Servers-in-EC2](url) describes the use of TXT DNS records. The Client would retrieve the list of available Eureka Servers by doing a dns lookup and parsing the list of servers.
`eureka.shouldUseDns=true`

Do you plan to support this?
Otherwise the project is not re

[2017-03-21 15:31] dtillman commented on #7
@VenkateshSrinivasan : Those will be picked up automatically if you are binding your eureka service to the app. Make sure you are using this Nuget: https://www.nuget.org/packages/Pivotal.Discovery.Client/1.0.0-rc2

[2017-03-21 15:31] #7 closed

[2017-03-21 15:32] dtillman commented on #8
@aivans : Thanks .. I'll make sure we have a look at this when we add support for AWS environments...

[2017-03-24 11:39] diablo39 opened #9 "Missing connection pooling"
Every time class EurekaHttpClients connects to Eureka server new HttpClient instance is created. New instances of HttpClient results with too many opened TCP connections. EurekaHttpClient should  reuse instance of HttpClient class, for ex. by storing it's reference in field _client, which is already declared.

[2017-04-12 08:58] aivans commented on #8
@dtillman this is not only AWS. Any proper Eureka deployment should use DNS for HA.

Is it possible to take a closer look at this? I don't think it has much to do with AWS.

[2017-04-13 15:18] dtillman commented on #9
Thanks,
Added code to dispose of HttpClient.
Changes will be included in upcoming 1.0.1 release.
Dave

[2017-04-13 15:18] #9 closed

[2017-04-18 13:34] diablo39 commented on #9
Hi,

I was talking about something different. In file https://github.com/SteeltoeOSS/Discovery/blob/dev/src/Steeltoe.Discovery.Eureka.Client/Transport/EurekaHttpClient.cs#L597
you're creating new instance of HttpClient, but you're not assigning it to _client field.

It means that you're creating new instance of HttpClient every time you're connecting to Eureka.
Simple assignment
[code]
will solve

[2017-04-19 13:56] dtillman commented on #8
@aivans : Yup.. I'll take a closer look ... up till now we have been mostly concerned with the usage of Eureka on Cloud Foundry (CF) and in that setting HA is taken care of easily by scaling the Eureka server to multi instances and the CF platform takes care of the rest...

I'll spend some time looking at this for the non-CF setting.

[2017-04-19 14:16] dtillman commented on #3
More work still to do to match up with Java client

[2017-04-19 14:51] aivans commented on #8
Thank you

[2017-05-01 14:59] gsainagendraprasad opened #10 "Getting this error Peer certificate cannot be authenticated with given CA certificate"
Hi , I am trying to see how Service Discovery works in PCF Dev. I logged in to pcf dev using cf login -a https://api.local.pcfdev.io --skip-ssl-validation and published both my client and service applications. when i call the client url , i am getting HTTP 500 error, when i saw the logs it says -

2017-04-28T17:26:01.50-0500 [APP/PROC/WEB/0] OUT fail: Steeltoe.Discovery.Eureka.Transport.EurekaHttp

[2017-05-01 16:00] dtillman commented on #10
Yes, you  will need to disable certificate validation when running on PCF Dev.

[2017-05-01 16:06] gsainagendraprasad commented on #10
I did it using this  --skip-ssl-validation while logging in to pcf dev. Still my client is unable to discover the registered service.

Here is my class :+1:

   public class ServiceDiscoveryService : IServiceDiscoveryService
    {
        DiscoveryHttpClientHandler _handler;
        private ILogger<ServiceDiscoveryService> _logger;

        private const string RANDOM_FORTUNE_URL = "http://Service

[2017-05-01 16:12] dtillman commented on #10
In your appsettings.json files(s), add eureka:client:validate_certificates => false,   the default is true if not specified.

[2017-05-01 16:18] gsainagendraprasad commented on #10
@dtillman , I will try this settings and will let you know either way.Thank you.

[2017-05-01 16:50] gsainagendraprasad commented on #10
@dtillman, It Worked, my client application is able to call service and fetch data. Thank you.

[2017-05-01 19:19] gsainagendraprasad commented on #10
@dtillman , Quick question, What about if a service has multiple versions , how should they get registered in to eureka ?? If spring-application-name is same for all versions then how do we make sure client application is consuming the appropriate version of service ??

[2017-05-11 11:32] adoura commented on #4
i am interested in this feature , any plans to include it soon ?

[2017-06-26 08:21] kimbell opened #11 "Should host name use FQDN?"
[code]

The current code is using Dns.GetHostName() which only returns the first part of a FQDN. For our installation it became very inconsistent with all the Java registered services.

To fix it we used code like this.
[code]

Should the GetHostName() be changed to use Dns.GetHostEntryAsync() by default?

[2017-07-27 09:39] AmramXing opened #12 "How to access eureka server with user/password?"
In java version, I use below setting to access Eureka server which has user/password setting.
...
**eureka.client.serviceUrl.defaultZone=http://user:password@localhost:11001/eureka/**
...
But in Steeltoe .net version, It seem has no effect.Who can help me?

Another question: Steeltoe suport below format(property binding), supprot **_{cipher}_** encryp format?

**eureka.client.serviceUrl.defaultZon

[2017-08-01 12:29] kkho commented on #12
any news about this?

[2017-08-16 17:51] kkho commented on #12
For me it seems that the only solution is to not have defaultZone. but just the url.  Also the problem is that there are no translation bindings that are the setup. In Spring, its possible to translate properties (i.e. ${vcap.service.username}:....:${serviceurl}/eureka

[2017-08-16 20:15] dtillman commented on #3
Ok this should be fully implemented

[2017-08-16 20:15] #3 closed

[2017-08-16 20:16] #10 closed

[2017-08-16 22:00] dtillman commented on #11
@kimbell
Thanks, you were correct!
 I've made the change and it will be in 1.1.0-RC3 and the final 1.1.0 release

[2017-08-16 22:00] #11 closed

[2017-08-16 23:10] dtillman commented on #12
Hi kkho,
Currently the Eureka client does not support Basic Auth (username/password) settings in the serviceUrl.
Likewise, Eureka configuration does not support the Spring Property Place holder feature (e.g. ${blah.blah}
.
I have had a couple requests to get both of these things added, so I'll look at doing that in the very near future.

I'll leave issue open to track the work

[2017-08-17 08:08] kimbell opened #13 "IDiscoveryClient.ShutdownAsync()"
This method doesn't contain much documentation, but I'm guessing that it unregisters any information in Eureka using the asynchronous .NET functionality.

In my .NET Core services, I'm calling it as part of the application shutdown.

[code]
Since it's a void method, I cannot wait for the call to finish before doing further cleanup. If the process terminates quickly, I'm very unsure what happens to

[2017-08-17 13:03] dtillman commented on #13
@kimbell:
Thanks for pointing this out.. I have changed the signature to return a Task instead of void.

As a side note, when the Eureka client is created, the factory that creates it attempts to obtain a IApplicationLifetime from the service container and if it is found, it Registers the ShutdownAsync() call for you, so you should not have to do it.

The above signature change will be in the 1.1.

[2017-08-17 13:03] #13 closed

[2017-08-18 18:12] kimbell opened #14 "Logging template gives weird result in ELK"
We are using the ELK stack for log processing. We see that some of the events from Steeltoe result in some weird entries.

The following message is logged
CancelAsync "http://server/eureka/apps/application:5101", status: OK

ELK reports the following template being used:
CancelAsync {0}, status: {1}

This results in
0: http://server/eureka/apps/application:5101
1: OK

The key values 1 and 2 doesn'

[2017-08-19 13:31] dtillman commented on #14
@kimbell :
Thanks for the suggestion....

I'll look at updating the logging for all of the Steeltoe components, including Discovery, etc.

Dave

[2017-08-23 07:17] yourchanges opened #15 "Does eureka:client:serviceUrl support HA enabled eureka cluster config?"
Currently, I use config:
[code]

it works. but I have two HA enabled eureka servers : server1, server2,  but following config **NOT work**:

[code]

any ideas?

[2017-08-25 16:09] dtillman commented on #15
It does not support that currently .. I'll have a look at that for a future update

[2017-08-28 08:06] yourchanges commented on #15
Thank you!!!

And by the way, another question: Does it support set eureka health check? how to enable it in configure file

[2017-09-28 01:51] lc273734858 opened #16 "How to set random port when the netcore service in docker?"
How to set random port when the netcore service in docker?

[2017-10-17 13:36] lc273734858 opened #17 "Why my service registed host is localhost.localdomain?"
my appsetting.json
{
  "spring": {
    "application": {
      "name": "ServiceNetCore"
    }
  },
  "eureka": {
    "client": {
      "serviceUrl": "http://192.168.134.192:8761/eureka/",
      "shouldFetchRegistry": false
      ,"shouldRegisterWithEureka":true
 //"validate_certificates": false
    },
    "instance": {
"hostName":"192.168.1.125",
"port": 5001,
"preferIpAddress":true
    }
  },
  "L

[2017-10-17 16:01] GSTQ opened #18 "Registration error"
I get the following error when I register a new app in Eureka:
"{
'timestamp':1508239392780,
'status':500,
'error':'Internal Server Error',
'exception':'com.thoughtworks.xstream.converters.ConversionException',
'message':'java.lang.Boolean cannot be cast to java.lang.String : java.lang.Boolean cannot be cast to java.lang.String
---- Debugging information ----
nmessage             : java.lang.Boole

[2017-10-17 16:08] GSTQ commented on #18
I have this local fix, may i do pull requst?

[2017-10-18 00:30] lc273734858 commented on #17
I used netcore2.0 and publish my application to CentOS7.0

[2017-10-18 08:41] adoura commented on #4
Hello , any plans to include consul soon ?

[2017-10-24 09:00] flyliao opened #22 "When to support .net core 2.0?"
Hi,When to support .net core 2.0?

[2017-10-27 14:26] jkonicki commented on #22
.NET Core 2.0 is supported.
ASP.NET Core 2.0 will be fully supported in our Steeltoe 2.0 release.  For now, the dev feed has builds that  are available for ASP.NET Core 2.0 and you can use those.

[2017-10-27 14:26] #22 closed

[2017-10-30 16:42] dtillman commented on #18
@GSTQ ,
1. What version of Steeltoe are you using? 1.0.0 or 1.1.0?
2. What version of Netflix Eureka are you using or what are you using to startup the Eureka server?
Dave

[2017-10-30 16:44] dtillman commented on #17
What version of Steeltoe are you using?  (1.0.0 or 1.1.0)?
Dave

[2017-10-30 18:05] GSTQ commented on #18
1. I'm using Steeltoe  v 1.1.0 from nuget
2. I'm using docker image springcloud/eureka from docker hub.
At manifest.mf from JAR file i found this:
![photo_2017-10-30_23-01-40](https://user-images.githubusercontent.com/5313099/32187425-dd061a3a-bdc6-11e7-85a8-41672264ae5b.jpg)

[2017-10-30 19:18] dtillman commented on #18
That docker image is very old .. and is likely using old neflix code ..

Can you try running the Eureka server as outlined here: https://github.com/SteeltoeOSS/Samples/blob/master/Discovery/src/AspDotNetCore/Fortune-Teller-Service/README.md ....

I'm sure that works with 1.1.0 as I just ran it again to verify...

or there is a "less" old docker image that we reference in our Music Store sample app

[2017-10-31 09:45] GSTQ commented on #18
Thank you. I'm close my PR.

[2017-10-31 15:14] #18 closed

[2018-01-22 22:06] dtillman commented on #16
@lc273734858:

Thanks for the question... were sorry its taken so long to respond..  If you never figured out how to deal with this or for others looking for answers the following should be helpful.

We have found with the latest Microsoft docker tooling and docker for windows its pretty easy to deal with this by using docker-compose.

1. Add docker support to your Visual Studio project so that yo

[2018-01-22 22:06] #16 closed

[2018-01-22 22:08] dtillman commented on #17
Feel free to reopen a new issue you still need help!

[2018-01-22 22:08] #17 closed

[2018-01-22 22:08] #15 closed

[2018-02-13 13:49] chiragd03 opened #25 "Null returned in case the method is HTTPPost instead of HTTPGet in the fortune service"
I am using PCF and C# to create microservices and using Steeltoe's Fortune Discovery code , which works fine, but when i change the method in fortune service to HTTPPost, then i am unable to fetch data

[2018-02-13 14:09] TimHess commented on #25
@chiragd03 To confirm I understand the problem, you're using one of the Steeltoe sample applications (Discovery/Fortune Teller) and you are trying to change it to use HTTP POST instead of HTTP Get?

If that's the case, make sure you change both the UI project and the Service project to use POST as you'll likely get a 404 if they don't use the same method

[2018-02-13 15:03] chiragd03 commented on #25
@TimHess thanks for an early reply, i tried to use the same sample code and created two WebAPI's, the FortuneService API code as
[HttpGet]
        public string Get()
        {
            return "Fortune Service";
        }
and the FortuneUIAPI code as

HttpClient c = new HttpClient(_handler, false);
var result = await c.GetStringAsync(@"https://FORTUNESERVICE/api/values");
return "Response form

[2018-02-13 18:46] TimHess commented on #25
@chiragd03 I just altered a current copy of the Discovery/AspNetCore sample to use POST instead of GET and it works fine for me so I don't think there are any issues with the sample or the library.

You might want add some Console.WriteLine() statements, or if you're deploying to linux you can try debugging https://discuss.pivotal.io/hc/en-us/articles/115013948068-How-to-debug-NET-core-application

[2018-02-14 07:08] chiragd03 commented on #25
@TimHess , i debugged the code and found this
for the line
var result = await client.PostAsync(@"https://FORTUNESERVICE/api/values",null);
i get result.IsSuccessStatusCode = false
result.ReasonPhrase  = NotFound
result.StatusCode   =  404

Can you please guide me where i went wrong

FortuneService API

[HttpPost]
        public string Post()
        {
            Console.WriteLine($"::::LOGS:::: F

[2018-02-14 14:34] TimHess commented on #25
@chiragd03 Can you share a more complete sample? Either the entire project or the code of both controllers please.

Also which package versions are you using for ASP.NET and Steeltoe?

[2018-02-14 15:09] chiragd03 commented on #25
sure @TimHess ,
# Fortune Service API
## csproj file dependencies
` <ItemGroup>`
    `<PackageReference Include="Microsoft.AspNetCore" Version="2.0.1" />`
    `<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.0.1" />`
    `<PackageReference Include="Swashbuckle.AspNetCore" Version="1.1.0" />`
    `<PackageReference Include="Pivotal.Discovery.ClientCore" Version="2.0.0-rc1" />`
    `

[2018-02-14 21:25] dtillman commented on #25
@chiragd03
I've tried to recreate your problem but I'm unable to .. based on what you have posted above.

Here is the repo I used to try and recreate the problem you are having : https://github.com/dtillman/DiscoveryTest

The code in the repo works for me on PCF 2.0, with SCS 1.5.

Can you give this code a try?

Dave

[2018-02-15 07:40] chiragd03 commented on #25
@dtillman  thanks a lot for the sample,
But unfortunately i am facing the same issue,

one difference though , when pushing the code to pcf , i was facing some issue for some  missing Microsoft.AspNetCore.Antiforgery.dll ,  so as a workaround

- i changed `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.5" />`
to 2.0.3 - Still Microsoft.AspNetCore.Antiforgery.dll missing issue
-

[2018-02-15 16:03] dtillman commented on #25
@chiragd03,
Not sure why you had to make changes to the projects .. probably some quirk with build pack?

In my testing I'm using command line and publishing SCD:

1. dotnet publish -f netcoreapp2.0 -r ubuntu.14.04-x64
2. cf push -f manifest.yml -p bin\Debug\netcoreapp2.0\ubuntu.14.04-x64\publish

Can you try the following changes:

1. In WebApplication1 ... in appsettings.json, remove comment  fo

[2018-02-15 16:52] chiragd03 commented on #25
@dtillman , thanks a ton,
the "securePortEnabled": true thing did the trick ,
Was stuck with this for the past few days,
Thanks a lot again 👍

[2018-02-15 17:09] dtillman commented on #25
Glad to help.
Dave

[2018-02-15 17:09] #25 closed

[2018-03-08 14:25] yangzhiqing001 opened #26 "How to access eureka server with inetutils/preferredNetworks"
I need to choose the network, but I didn't find the configuration
Is there a configuration like "inetutils/preferredNetworks"

[2018-03-27 08:15] SivakumarShan opened #27 "Service Registry URL not resolved in PCF Marketplace Service"
Hi I have created some sample Service Registry and Discovery applications. This is working fine in Local machine where I installed Eureka server to Register and Discover the services. When I push the same into PCF and bind Service Registry Market Place services to my applications, it's unable to use the Service Registry. It still uses the serviceUrl as http://localhost:8761/eureka/ and not taking

[2018-04-04 08:39] linianhui opened #28 "What is the difference Pivotal.Discovery.ClientCore and Steeltoe.Discovery.ClientCore?"
I find two packages on nuget.org web site。

1. https://www.nuget.org/packages/Steeltoe.Discovery.ClientCore
1. https://www.nuget.org/packages/Pivotal.Discovery.ClientCore

They look very similar, What is the difference？

[2018-04-04 14:05] linianhui commented on #28
@TimHess Thank you, i found this docs http://steeltoe.io/docs/steeltoe-discovery/#1-2-1-add-nuget-reference

[2018-04-04 14:05] #28 closed

[2018-04-24 13:07] ManteshJ opened #29 "Eureka Cluster config is not working in the Steeltoe Discovery"
I am using the Steeltoe Discovery ClientCore v2.0.1. Eureka Cluster mode configuration is not working.

Single Instance of the Eureka Server config in the Microservice as follows

[code]
The above configuration works fine for single instance of the Eureka Server.

Multi Instances of the Eureka Servers config in the Micro Service as follows
Microservice configuration (appsettings.json)

[code]
The

[2018-04-26 14:00] ManteshJ opened #30 "Is it possible to override the steeltoe configuration(without appsetting.json)?"
Hi,

I want to use my own configuration code instead of the SteelToe configuration. Is it possible to override the steeltoe configuration without using appsetting.json?

[2018-04-26 17:10] dtillman commented on #30
@ManteshJ :
Yes, you should be able to ... have a look at the AddDiscoveryClient() methods in this code:

https://github.com/SteeltoeOSS/Discovery/blob/dev/src/Steeltoe.Discovery.ClientCore/DiscoveryServiceCollectionExtensions.cs

Dave

[2018-04-26 17:10] #30 closed

[2018-04-27 14:25] dtillman commented on #26
@yangzhiqing001
Can you explain more on what you mean "I need to choose the network"?
Dave

[2018-05-18 14:41] ManteshJ opened #31 "How to enable the SSL in the Eureka Client Side?"
Hi,

I have gone through the EurekaClientConfig.cs code, there is no specific properties to set the certificate details like key-store, key-store-password, etc.
[EurekaClientConfig.cs Class](https://github.com/SteeltoeOSS/Discovery/blob/dev/src/Steeltoe.Discovery.EurekaBase/EurekaClientConfig.cs)
I want to know whether Steeltoe Discovery is supporting with SSL or not.

[2018-05-21 12:18] TimHess commented on #31
Hi @ManteshJ,

Steeltoe Discovery does not currently support mutual TLS authentication (client-side SSL) - Is that what you're asking about?

We have a preliminary story in Tracker for working on feature parity between Steeltoe and Spring with regard to Eureka here: https://www.pivotaltracker.com/story/show/157221134 -- it isn't well defined or prioritized yet, so if you have input on what you thi

[2018-05-23 12:43] yangzhiqing001 commented on #26
@TimHess @dtillman
ifconfig -a
eth2      Link encap:Ethernet  HWaddr 00:50:56:B3:7E:9B
          inet addr:172.16.118.1  Bcast:172.16.118.255  Mask:255.255.255.0
          inet6 addr: fe80::250:56ff:feb3:7e9b/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:5279275 errors:0 dropped:0 overruns:0 frame:0
          TX packets:4629500 errors:0 dropped:0 o

[2018-05-24 18:42] TimHess commented on #26
You know what... Re-reading this, I think we already have an alternative to the preferredNetworks feature that should work for you today - you can change the registration method and set the address directly.

Use settings in the second table on this page: https://steeltoe.io/docs/steeltoe-discovery/#1-2-2-eureka-client-settings to register by hostname or IP address and to select the method to use

[2018-05-29 00:59] qq57941500 opened #32 "Error message in Eureka server dashboard"
when .net service is registered with Eureka server, there is an error message in red:
EMERGENCY! EUREKA MAY BE INCORRECTLY CLAIMING INSTANCES ARE UP WHEN THEY'RE NOT. RENEWALS ARE LESSER THAN THRESHOLD AND HENCE THE INSTANCES ARE NOT BEING EXPIRED JUST TO BE SAFE.

maybe the reason is the .net client is not sending heartbeat message to the server.
Is it possible to add the mechanism or remove the

[2018-05-29 12:44] TimHess commented on #32
That message should go away shortly after an app comes online (maybe a couple of minutes?). Does it not go away at all?

If not:
- are you running a Steeltoe sample, or your own application?
- is it in a local development environment, cloud foundry or somewhere else?

[2018-05-29 12:51] TimHess commented on #29
The history on this issue looks a little confusing, just to bring it all together, @dtillman replied to the issue that was created in Tracker with

The story mentioned above is this one: https://www.pivotaltracker.com/n/projects/1483238/stories/157127296

[2018-05-29 12:51] #29 closed

[2018-05-30 06:32] #26 closed

[2018-06-01 18:08] majian159 commented on #4
@dgodd @cf-gitbot @adoura
i implement consule discovery client.
Hope to merge.
try https://github.com/RabbitTeam/steeltoe-extensions

[2018-06-04 05:07] seanshi90 opened #33 "Does eureka:client:serviceUrl support multiple eureka servers in the config?"
Currently, I use config:
"eureka": {
   "client": {
     "serviceUrl": "http://server1:1234/eureka/",
     "shouldFetchRegistry": false,
     "validate_certificates": false
   },
it works. but I have two HA enabled eureka servers : server1, server2, but following config NOT work:

"eureka": {
"client": {
     "serviceUrl": "http://server1:1234/eureka/,http://server2:2234/eureka/",
     "shouldFetc

[2018-06-04 12:08] TimHess commented on #33
Steeltoe Service Discovery does not yet have support for multiple Eureka servers. Support will be added in the future, but timing and implementation specifics have not been decided yet.

For what it's worth, the Steeltoe implementation will probably be close to what Spring Cloud does

https://github.com/SteeltoeOSS/Discovery/issues/29
https://github.com/SteeltoeOSS/Samples/issues/45

[2018-06-04 12:11] TimHess commented on #4
@dtillman Can you take a look at this?

[2018-06-05 16:16] jlorich opened #34 "Proxy settings are unused"
I am trying to send requests both from client and  server through a proxy but the proxy settings to not seem to be respected.  I can't actually find any use of ProxyHost or ProxyPort outside of loading the configuration settings.  They seem ignored after that.  Are they not supported?

[2018-06-05 16:38] TimHess commented on #4
@majian159 I want to take a minute to thank you for putting in the work with Consul and also to let you know that it is going to be several weeks before we're able to take a close look at it.

One task that could be done in the meantime is to add Stylecop (nuget package), along with the configuration we have already setup in Steeltoe.Discovery (there is a stylecop.json in the project root, along w

[2018-06-05 18:57] TimHess commented on #34
Hi @jlorich,

You're correct, the code to use those settings has not been written yet... We can leave this issue open for visibility, but the story we have to complete the feature is here: https://www.pivotaltracker.com/story/show/157126288

[2018-06-06 03:30] seanshi90 commented on #33
Thank you very much.  Look forward to the feature added.

[2018-06-06 03:30] #33 closed

[2018-06-07 09:09] majian159 commented on #4
@TimHess ok,i try.

[2018-06-08 02:45] majian159 commented on #4
I finished.

[2018-06-19 14:52] dtillman commented on #27
If you are still having problems, let us know

[2018-06-19 14:52] #27 closed

[2018-06-21 10:01] poweryang1990 opened #35 "Suport simpleinjector IOC"
Hello
   Can you implement simpleinjector IOC  for Discovery, I 've tried it,  but server can not be regist to Eureka Server

 `

    public static class DiscoveryContainerExtensions
     {
         public const string EUREKA_PREFIX = "eureka";

         public static void RegisterDiscoveryClient(this Container container, DiscoveryOptions
           discoveryOptions,IDiscoveryLifecycle lifecycle =

[2018-06-21 10:08] poweryang1990 commented on #35
@cf-gitbot  Thanks

[2018-06-21 14:09] TimHess commented on #35
Hi @poweryang1990,

Do you have a sample application to go with those classes? We're trying to wrap up some development to get our next release out right now so having an app to work with would greatly speed things up.

[2018-06-21 17:12] nbarboutis commented on #12
any progress on this.

[2018-06-21 17:44] TimHess commented on #14
This seems like a pretty easy entry point for anybody looking to contribute to the project

[2018-06-22 06:57] poweryang1990 commented on #35
@TimHess  Sorry, That is My code snippet,It's not running correctly,
I have pushed to github  . https://github.com/poweryang1990/SpringCloudDemo

[2018-06-26 01:38] akaxb opened #36 "how to register to multiple eureka server"
we have three eureka server like this :
![image](https://user-images.githubusercontent.com/6300834/41884080-55d15a38-7924-11e8-8e47-225b4aa6d435.png)
so , in my appsettings ,how to set my serviceUrl ，I tried separating them with commas, but it didn't work。
thank you

[2018-06-26 20:44] nbarboutis commented on #12
I have a proposed fix for this issue. Let me know if you require any changes.
Thanks.

[2018-06-26 21:43] TimHess commented on #12
Thanks @nbarboutis, this feature is available as of `2.1.0-dev-191`!

[2018-06-26 21:43] #12 closed

[2018-06-26 21:49] TimHess commented on #36
Sorry, this feature is not supported yet - you are not alone though, and we hear you!

https://github.com/SteeltoeOSS/Samples/issues/45
https://github.com/SteeltoeOSS/Discovery/issues/33

[2018-06-27 06:51] Jamayette opened #38 "Cannot evict service from eureka."
Hello,
  I am using it with a .net framework project and everything including the service discovery, consume and zuul is fine. The problem is when  I stop my service, the published service stays as registered on the eureka like forever. I wait 5 minutes and it still remains. So  I turned off the self preservation of eureka and the service still remains. Unless I restart the eureka server the servi

[2018-07-03 16:18] lukastosic commented on #12
@TimHess

I'm not sure this is included in latest "dev" release ...

When I try to run "FortuneTellerService" sample (from SteeltoeOSS samples repository) with username password I am getting "unauthorized" response

Then I did the following:
1. cloned this git repo
2. switched to dev branch,
3. open solution in Visual Studio
4. added existing project to solution (FortuneTellerService)
5. removed n

[2018-07-03 16:47] TimHess commented on #12
@lukastosic we don't normally keep the samples in lock-step with dev feed releases. You should be able to just update the Pivotal.Discovery.ClientCore reference from `2.1.0-dev-00172` to `2.1.0-dev-194` to use this feature

[2018-07-04 07:49] lukastosic commented on #12
@TimHess yeah .. that is what I did the first time I saw this thread - changed reference in sample to "latest" dev version ..

tried with `2.1.0-dev-194`, but got error that version doesn't exist .. it offered:

[code]

so, then changed to `2.1.0-dev-00194` (two zeros in front of the number)

I sterted TCPmon (made proxy to catch request) and got this as a request:

[code]

But when I build with t

[2018-07-05 18:49] lukastosic commented on #12
@TimHess

after trying out different things:

1. Git clone samples repository (completely new "clean")
2. Don't run anything ;)
3. Open `Fortune-Teller-Service.csproj` file and adjut `Pivotal.Discovery.ClientCore` version to: `2.1.0-dev-00194`
4. Run app `dotnet run -f netcoreapp2.1`

This one **does not** send authentication header

Then I changed **Pivotal**.Discovery.ClientCore -> **Steeltoe**.

[2018-07-05 19:02] TimHess commented on #12
@lukastosic That does make some amount of sense... one of the things the Pivotal library does is handle authentication with Eureka, so it probably shouldn't be surprising that there could be a problem using it and setting username/password.

I've logged a bug to investigate further and see if we could do something other than declare it a known issue, but I don't know when we'll look at it. In the

[2018-07-05 19:21] lukastosic commented on #12
@TimHess

Thanks Tim ... using "just" Steeltoe instead of "Pivotal" libraries is perfectly fine for my case since we will host application in our own environment, so we will not use any Pivotal Cloud services (Cloud foundry) either way ...

[2018-07-05 20:48] nbarboutis commented on #12
I can look into this. I already download the sample and verified the issue Luka is having.

Are the Pivotal libraries open source so I can download them and debug what going on?

[2018-07-05 21:37] TimHess commented on #12
@nbarboutis thanks!

For anybody following along, the source for Pivotal.Discovery is over here: https://github.com/pivotal-cf/spring-cloud-dotnet-discovery

[2018-07-06 12:13] nbarboutis commented on #12
I determined what is causing the issue:

The **PivotalEurekaHttpClient** class, although inheriting from **EurekaHttpClient** is overriding **GetRequestMessage**. The **GetRequestMessage** method in **EurekaHttpClient**  class is where the serviceUrl is parsed for username and password and the appropriate header is added. By overriding this method **PivotalEurekaHttpClient** is bypassing this step

[2018-07-11 14:30] TimHess commented on #35
@poweryang1990 If I un-comment the IEnumerable registrations you already have in there, this code works for me

[2018-07-11 14:37] TimHess commented on #32
Closing this issue under the assumption there is no longer a problem, please reopen if you still need help

[2018-07-11 14:37] #32 closed

[2018-07-11 14:43] TimHess commented on #38
That does sound unusual, have you tried setting your own value for `eureka:instance:leaseExpirationDurationInSeconds`? By default, your app should stay registered for 90 seconds - you could lower that and `eureka:instance:leaseRenewalIntervalInSeconds` to see if anything changes.

[2018-08-02 12:11] Isuama opened #40 "Register Docker Application in Eureka"
When I register application in IIS and point it to Eureka as shown in this sample, it properly works with these parameters in appsetting.json.
 "eureka": {
    "client": {
      "serviceUrl": "http://172.15.100.155:8761/eureka/",
      "shouldFetchRegistry": false
    },
    "instance": {
      "port": 8091,
      "hostName": "fortune_service",
      "ipAddress": "http://172.15.100.11",

      "pr

[2018-08-03 06:45] Isuama commented on #40
I found that Eureka register with the docker container IP rather than the ip used in the configuration

[2018-08-24 19:33] TimHess commented on #38
#39 should resolve this issue (thanks @kimbell!) -- That pull request was included in the 2.1.0 release of Steeltoe, please try the updated package and see if that resolves the issue for you!

[2018-08-24 19:52] TimHess commented on #35
@poweryang1990

1. Were you able to get your code to work?
1. Are you interested in submitting a pull request to add your work?

[2018-09-05 03:02] bloodjustice opened #42 "How to bind multiple Eureka addresses"
How to bind multiple Eureka addresses
like "serviceUrl": "http://eureka1.fat.com/eureka/,http://eureka2.fat.com/eureka/"

[2018-09-05 03:29] sunnycloudy commented on #42
I have the same trouble,  i have tried many google, but there is no  solution satisfied  me.  If we don't implement a client-balance,  why we use eureka?

[2018-09-05 16:42] TimHess commented on #42
Using multiple Eureka servers is not currently supported directly, our current recommendation is to use a load balancer in front of your Eureka instances.

This feature is not currently scheduled for our next release, so if it is a high priority, we'd welcome a contribution. I would recommend discussion of implementation before starting the work though, just so we have an understanding of how it s

[2018-09-06 10:00] sunnycloudy commented on #42
sorry, my ambiguous words may be disturbing, my "client-balance" here just means  "random bind a eureka when other is done".

[2018-09-11 14:50] #38 closed

[2018-09-20 01:58] catcherwong opened #45 "Can we set the instanceId to the current IP address and port."
Hello,

Can we set the instanceId to the **current** IP address and port without specify the instanceId in `appsettings.json`?

For example, a product service has two instance, and their IP address and port are `10.0.10.1:9000` and `10.0.10.2:9001`.

I want to set the instanceIds of them are  `10.0.10.1:9000` and `10.0.10.2:9001` automatically.

Java client can do this by the following configurati

[2018-09-25 15:53] petriashev commented on #34
Any progress?

[2018-10-05 11:44] petriashev commented on #34
I use https://github.com/micro-elements/MicroElements.FluentProxy for interact with eureka.

[2018-10-09 22:00] dtillman commented on #45
@catcherwong : We have in our roadmap to add ${.....} support to all of the steeltoe packages .. so you can customize the settings like you are wanting to do.. we just haven't gotten around to it   ..

[2018-10-11 14:02] dtillman commented on #40
@Isuama :
I pushed a Fortune Teller sample solution that has Docker enabled that should help you understand how to set this up.  The sample was created using the built-in Visual Studio tooling for Docker and Docker compose.  I added the Eureka service to the docker compose file so it starts up when you run the Fortune Teller sample using Docker compose.

https://github.com/SteeltoeOSS/Samples/tree

[2018-10-11 16:29] Isuama commented on #40
Thank you @dtillman. I guess what you have done was, exposing the same port inside the docker container and consuming the same port from outside.
What I have found out, it was an issue from Steeltoe Discover Client as it always takes the host IP rather than the ipAddress mentioned in yml. It doesn't make any sense registering the IP, but in our case we needed it badly.
If we run docker command wit

[2018-10-18 19:31] dtillman commented on #40
@Isuama,

If you need to control what is registered in eureka, then you can set registrationMethod=hostName and then put a value in the hostName setting (DNS or IP address).  That is what will end up getting registered in the eureka server and ultimately retrieved and used by the client.

Let me know if that doesn't work for you!
Dave

[2018-10-27 10:08] Isuama commented on #40
Dear Dave, Could you please explain then why they have a property like preferIpAddress and ipAddress. As per my understanding if we set preferIpAddress =true and set an IP it should work, isn't it. But trust me, It doesn't work.

[2018-10-29 17:09] mries92 opened #46 "Registering with Eureka discovery server working, but renew failing."
Hello, I am experiencing a weird issue with the Steeltoe discovery client. I have an instance of a Eureka server stood up in PCF, and have followed the Fortune-Teller examples for connecting to this registry. The connection works fine, and I can see the service being registered and listed on the 'Manage' page of the discovery service. After a little while though, usually about 30 seconds to 2 minu

[2018-10-29 17:10] ReidThompson opened #47 "Failing to fetch registry"
Hi,

I'm in the process of building a POC .NetCore app, and stand it up on our business's instance of PCF. In the PoC, I'm utilizing the service registry and the circuitbreaker. I'm running into issues, however, with fetching the registry from my consuming service. I've tried several different configurations in my appsettings.json, and I've gotten it to work, kind of, for all of 15 seconds. I was

[2018-10-29 20:26] TimHess commented on #47
Hi @ReidThompson,

- What version of .NET are you targeting?
- What ASP.NET version are you using?
- Which Steeltoe service discovery package & version are you using?
- Is the service registry being provisioned by Spring Cloud Services?
- Is the registry instance healthy?
- Does the app succeed in fetching the registry if you restart it?

[2018-10-29 20:33] TimHess commented on #46
Hi @mries92

Are you running one of the Steeltoe samples, or a different app that is based on one of them?

It looks like the actual exception is missing from your stack trace there, could you include a bit more of the logs please?
If you are not running one of the Steeltoe samples, please share which versions of [ASP].NET [Core] and Steeltoe you're running?

[2018-10-29 20:44] ReidThompson commented on #47
I'm targetting .NetCore v2.1
I'm using ASPNetCore v2.1.5
I'm using the following Steeltoe packages:
- Pivotal.Discovery.ClientCore v2.1.1
- Steeltoe.CircuitBreaker.Hystrix.MetricsStreamCore v2.1.1
- Steeltoe.CircuitBreaker.HystrixCore v2.1.1

My assumption is that the service registry is being provisioned by Spring Cloud Services. I had created this particular registry for a couple of Java apps, a

[2018-10-29 21:03] mries92 commented on #46
@TimHess

Hey Tim, Thanks for the reply. This is a separate app that is based off the Steeltoe samples. We are on ASP.NET Core version 2.1.1, and Steeltoe 2.1.1. Here is a more complete stack trace from when the appplication starts to when the error ocurrs. From this point, it is just the same error about the renew failed over and over again.

2018-10-29T16:26:19.860-04:00 [APP/PROC/WEB/0] [OUT] 

[2018-10-29 21:08] TimHess commented on #47
Thanks for that info. I just wanted to make sure the instance of Eureka is health and not something out of the ordinary ~ if you did the provisioning, but don't know of anything special about it then it probably is the SCS version, and if it works for your Java apps then there's probably nothing wrong with it.

What stack are you deploying the app to? (eg: windows2012R2, windows2016, cflinuxfs2, c

[2018-10-29 21:28] TimHess commented on #46
What stack are you deploying the app to? (eg: windows2012R2, windows2016, cflinuxfs2, cflinuxfs3)
Can you confirm that DNS is working reliably in the cell you're deploying to?
Have you tried deploying one of the Steeltoe Discovery samples onto your infrastructure to make sure that it isn't an environmental issue?

`No such device or address` typically means either DNS has failed, or you've made a

[2018-10-30 05:21] idilshod87 opened #48 "How to generate random instance id?"
I need set port:0 and instanceId: '${spring.application.name}:${spring.application.instance_id:${random.int}}' like in [this](https://cloud.spring.io/spring-cloud-netflix/multi/multi__service_discovery_eureka_clients.html).
How to do it?
Thanks!

[2018-10-30 14:03] ReidThompson commented on #47
I am deploying to cflinuxfs2; I'm told we'll be switching to cflinuxfs3 at some point, but I wasn't given a date.

I have not personally tried one of the Steeltoe Discovery samples, I'll try that next, but it's worth noting that I did comb over every relavant file and tried the exact same configurations (Program.cs, Startup.cs, appsettings.json, and the relevant ServiceCommand class).

Below is th

[2018-10-30 20:09] TimHess commented on #47
Well, two more things to try, in addition to deploying the Steeltoe samples -

1. I pushed a new release of Discovery to the [dev feed](https://www.myget.org/F/steeltoedev/api/v3/index.json) that logs the url when the request fails, so we can at least rule out any surprises there - the version is '2.2.0-dev-287'
1. Possibly a long shot, but [opt out of the SocketsHttpHandler](https://github.com/do

[2018-10-30 20:10] TimHess commented on #46
Two more things to try, in addition to deploying the Steeltoe samples -

1. I pushed a new release of Discovery to the [dev feed](https://www.myget.org/F/steeltoedev/api/v3/index.json) that logs the url when the request fails, so we can at least rule out any surprises there - the version is '2.2.0-dev-287'
1. Possibly a long shot, but [opt out of the SocketsHttpHandler](https://github.com/dotnet/c

[2018-10-30 21:46] ReidThompson commented on #47
I tried with just adding the new release so I could verify the URL. It is indeed trying to connect my instance of the service registry.

Also, just now I tried adding the method you linked, and it appears to be working. It's been up for about 15 minutes now, and it's continuing to succeed on fetching.

Now, the issue I'm running into is not being able to reach my other .Net service by name. Now th

[2018-10-31 15:58] ReidThompson commented on #47
I threw the Fortune Teller service up on our instance of pcf, and it also required the method you linked, and is also always tripping the circuit breaker, despite being told in the logs that the registry was fetched/registered.

[2018-10-31 17:00] mries92 commented on #46
Hey Tim,

Just an update on the situation. Today I tried building and deploying the Fortune-Teller samples for circuit breaker again. I can confirm the exact same behavior we saw with our services. They sporadically succeed at registering with the Eureka server, but are dropped when the renew is attempted.

When adding the flag mentioned previously to the example services Program.cs, the register

[2018-11-05 19:42] TimHess commented on #47
Is it fair to say this is a duplicate of #46? it seems there may be a little more digging to do here, it would be nice to consolidate to one thread

[2018-11-05 20:22] TimHess commented on #46
`we are unable to hit the service by referencing it by name` - does that mean you're still seeing exceptions that appear to be DNS related, but only in .NET apps?

Its interesting that opting out of `SocketsHttpHandler` would resolve some, but no all instances of the issue

[2018-11-06 19:58] mries92 commented on #46
That is correct. Using the same Eureka instance for both .NET and Java apps, the Java apps are discoverable by name but the .NET ones are not. Interestingly, we can hit the Java services by name from the .NET services, but not vice-versa. So it seems the fetch registry is working on the .NET side, just not the actual registration (even though it says it registers successfully and appears in the ma

[2018-11-07 15:07] ReidThompson commented on #47
Hey Tim,

I was out of office Mon/Tues, so I apologize for my delay in getting back to you. Yes, this issue and #46 are related. Originally when we opened the issues, we weren't sure if the root problem was the same, but as we've worked through it, it appears that that is the case. I will close this issue.

[2018-11-07 15:09] #47 closed

[2018-12-06 16:16] TimHess commented on #4
@majian159 would you be able to set up a pull request for your addition? Otherwise we'll have to add it directly and history won't reflect your contribution

[2018-12-07 20:14] jkonicki commented on #48
Hello @idilshod87, Property placeholder support is planned for our 2.2.0 release.  W.r.t. the generation of ints, that will likely need to be a separate ticket.

[2018-12-13 16:43] TimHess opened #49 "AddDiscoveryClient Should also add DiscoveryHttpMessageHandler"
If an application is using service discovery, we could/should add the DiscoveryHttpMessageHandler to the DI container for them when the DiscoveryClient is added so that they don't have to add it separately

[2018-12-18 06:41] majian159 commented on #4
Ok, I have added pull request.
#50

[2019-01-22 16:52] jkonicki opened #51 "Implement Spring Cloud Consul using PR #50"
Need to clean up PR and add Spring Cloud Consul support.
#4 Is also related.

[2019-01-22 16:55] jkonicki opened #52 "Refactor the Discovery Health check from PR #44"
Added PR #44 , but it needs some modifications before supporting it.

[2019-01-28 14:35] Rynaret opened #53 "DoGetApplicationsAsync Failed"
When a service is registered without instanceId I have following error

[code]

[2019-01-28 14:37] Rynaret commented on #53
#54

[2019-02-12 15:16] dtillman commented on #48
@idilshod87 :

We added to 2.2. of Steeltoe, a RandomValueBase package to Configuration, so you can now use it to generate random values, similar to Spring Boot apps.

Also, we added the PropertyPlaceholder package to Configuration so you can use placeholders in your apps configuration.

Dave

[2019-02-12 15:16] #48 closed

[2019-02-12 15:17] dtillman commented on #52
Done

[2019-02-12 15:17] #52 closed

[2019-02-12 15:19] dtillman commented on #42
@sunnycloudy : We added to 2.2 of Steeltoe, the ability to provide a comma delimited list of eureka server urls and implemented logic like what is done by Java Netflix implementation.

[2019-02-12 15:19] #42 closed

[2019-02-12 15:20] dtillman commented on #51
Done

[2019-02-12 15:20] #51 closed

[2019-02-12 15:21] dtillman commented on #36
@akaxb : We added this to Steeltoe 2.2.  You can provide a comma delimited list of eureka server urls.
Dave

[2019-02-12 15:21] #36 closed

[2019-02-12 15:21] jkonicki commented on #53
PR was merged. Closing issue

[2019-02-12 15:21] #53 closed

[2019-02-12 15:22] dtillman commented on #34
@petriashev : We added to 2.2 of Steeltoe usage of the proxy settings in configuration.

Dave

[2019-02-12 15:22] #34 closed

[2019-03-07 15:52] #49 closed

[2019-03-10 18:15] Jurabek opened #56 "Host Name and IP Address not computing on Mac and Docker"
When I set manually `hostname` and `ipAddress` it is registering to Eureka server
[code]

I removed static `hostname` and `ipAddress` and it is giving me BadRequest on the registration, here is request data:

[code]

Expected result ipAddress should not be null to be able to use `preferIpAddress: true`
`TargetFramework: netcoreapp2.1`
`NuGet Package: Pivotal.Discovery.ClientCore: 2.1.0`

[2019-03-11 09:41] Jurabek commented on #56
[related dotnetcore issue](https://github.com/dotnet/corefx/issues/15640)

[2019-03-15 12:19] Jurabek commented on #56
changing `/etc/host` solved my issue
127.0.0.1       Users-MacBook-Pro.local

Closing issue

[2019-03-15 12:19] #56 closed

[2019-03-19 20:00] jkonicki commented on #45
This was addressed in 2.2.0 release.

[2019-03-19 20:00] #45 closed

[2019-03-21 04:30] thnk2wn opened #58 "Fetch registry Object reference not set EurekaPostConfigurer.UpdateWithDefaultsForRoute"
- Using Steeltoe.Discovery.ClientCore Version "2.2.0"
- Attempting to fetch registry from a .net core 2.2 console app linux x64 on stack cflinuxfs2

When I attempt to resolve `IDiscoveryClient` type I get the error `Object reference not set to an instance of an object.` error in `Steeltoe.Discovery.Eureka.EurekaPostConfigurer.UpdateWithDefaultsForRoute`. The full call stack follows.

<pre>
2019-03

[2019-03-24 21:04] thnk2wn commented on #58
Created a one line PR #65 to address this. There is also a branch [steeltoe-discovery-debug](https://github.com/thnk2wn/pcf-river-flow-processor/tree/steeltoe-discovery-debug) in my repo mentioned above where all the Steeltoe nuget packages are replaced with source project references to debug and address the issue.

[2019-04-05 22:29] putridparrot opened #71 "EurekaBase potential for NullReferenceException when no instance id exists"
Whilst testing the Eureka Discovery client found that applications were not being returned. Investigation showed that the Eureka app data was missing an instance id for one of the application elements causing a NullReferenceException within Applications.cs, method AddInstanceToVip on the following line (currently line number 147)

instances[info.InstanceId] = info;

[2019-04-17 13:04] dlane771 commented on #58
I am experiencing exactly the same issue. However we are using a .NET Core 2.2 console application that previously worked a few days ago and now it doesn't work and we are getting exactly the same error. I did note that the Dotnet-Core Buildpack changed versions from 2.2.5 to 2.2.7, however the PCF platform could have changed as well.

[2019-04-26 19:09] sorvis opened #72 "Running with Consul Throws CheckID does not have associated TTL"
Hello,

I'm testing out discovery with Consul. I have setup my application like this:

Nuget:
[code]

Startup.cs
[code]

appsettings.json
[code]

Started docker instance of consul with:
[code]

Then when I start my application I get this error message:

Am I missing some configuration?

[2019-04-30 16:03] dtillman commented on #72
Maybe try this instead:

"consul": {
    "host": "localhost",
    "ttl":  "5",
    "discovery": {
      "serviceName": "Test",
      "healthCheckUrl": "/health",
      "heartbeat": {
          "enabled": true,
         "ttlValue": 5
      }
    }
  },

[2019-05-03 15:52] sorvis commented on #72
@dtillman thank you for the response. I gave that a try now I'm seeing this error. Do I have to specificy that Consul should be used for discovery someplace?

[2019-05-16 21:04] jkonicki commented on #35
Closing.  Reopen in new `steeltoe` repository if this is still an issue.

[2019-05-16 21:04] #35 closed

[2019-05-16 21:06] jkonicki commented on #46
Closing this issue.  If this is still an issue please reopen under the `steeltoe` repository.

[2019-05-16 21:06] #46 closed